.window-frame {
  display: flex;
  flex-direction: column;
  user-select: none;
}

.window-content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.window-titlebar {
  position: relative;
  height: 30px;
  display: flex;
}

.window-titlebar-controls {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
}

.window-titlebar-menu {
  display: flex;
  flex-direction: row;
}

.titlebar-menuItem .menuItem-label {
  padding: 0 10px;
  cursor: pointer;
}

.titlebar-menuItem .menuItem-popup {
  display: none;
  position: fixed;
  background: #292a2d;
  min-width: 70px;
  border: 1px solid #3c4043;
  padding: 0.25rem 0;
  box-shadow: 2px 1px 4px hsla(0, 0%, 0%, 0.5);
  z-index: 10000;
}
