.window-frame {
  display: flex;
  flex-direction: column;
  user-select: none;
}

.window-content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.window-titlebar {
  display: flex;
  position: relative;
  height: 30px;
  align-items: center;
  -webkit-app-region: drag;
}

.window-titlebar-icon {
  position: absolute;
  left: 0;
  top: 0;
}

.window-titlebar-title {
  font-size: 13px;
  flex: 1;
  padding-left: 50px;
}

.window-titlebar-title[data-era-centered='true'] {
  text-align: center;
  padding-left: 0;
}

.window-titlebar-controls {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-app-region: no-drag;
}

.window-titlebar-menu {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 50px;
  -webkit-app-region: no-drag;
}

.titlebar-menuItem .menuItem-label {
  padding: 0 10px;
  cursor: pointer;
}

.titlebar-menuItem .menuItem-popup {
  position: fixed;
  background: #292a2d;
  min-width: 70px;
  border: 1px solid #3c4043;
  padding: 0.25rem 0;
  box-shadow: 2px 1px 4px hsla(0, 0%, 0%, 0.5);
  z-index: 10000;
}

.titlebar-menuItem .menuItem-popupItem {
  display: flex;
  flex-direction: row;
}

.titlebar-controlButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 30px;
  cursor: pointer;
  background-color: transparent;
}

.titlebar-controlButton:hover {
  background-color: #0000003d;
}

.titlebar-controlButton[aria-label='close']:hover {
  background-color: #c42b1c;
}
